@using HRMS.Entity.Models;
@model IEnumerable<Project>
@{
    Layout = "_MenuLayout";
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/site.css" rel="stylesheet" />
<div class="d-flex justify-content-around">
    <div class="card col-8 mt-lg-4">
        <div class="card-body">
            <div class="card-header">
                <a class="btn btn-primary" id="add"><i class="fa fa-plus"></i></a>
            </div>

            <table class="table table-striped table-bordered" id="myTable">
                <thead>
                    <tr>
                        <th>Sl No</th>
                        <th>@Html.DisplayNameFor(dept => dept.projectname)</th>
                        <th>@Html.DisplayNameFor(dept => dept.startdate)</th>
                        <th>@Html.DisplayNameFor(dept => dept.enddate)</th>
                        <th>@Html.DisplayNameFor(dept => dept.status)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>

            </table>

        </div>
    </div>
</div>



<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id=""></h4>
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>


    <script>
        function LoadModal(id) {
            $('.modal-title').html("Edit Project")
            $.ajax({
                "type": "GET",
                "url": "@Url.Action("EditProject")",
                "dataType": "html",
                "data": { "id": id },
                "success": function (data) {
                    $('.modal-body').html(data);
                    $('#myModal').modal('show');
                },
                "error": function () {
                    alert("error in loading model");
                }
            });
        }
        $(document).ready(function () {
            var i = 1;
            $('#myTable').DataTable({
                "processing": true,
                "serverSide": false,
                "filter": true,
                "searching": true,
                "ajax": {
                    "url": "@Url.Action("ViewAllProjectJson","Admin")",
                    "type": "Get",
                    "datatype": "json"
                },

                "columnDefs": [{
                    "targets": [0],

                    'render': function (data, type, full, meta) {
                        return i++;
                    }
                }],
                "columns": [
                    { "data": "", "name": "Sl No", "autoWidth": true },

                    { "data": "projectname", "name": "Project Name", "autoWidth": true },
                    { "data": "startdate", "name": "Starting Date", "autoWidth": true, render: function (data, type, row)
                    {
                        return moment(data).format("DD-MM-YYYY");
                    }
                    },
                    { "data": "enddate", "name": "Last Date", "autoWidth": true, render: function (data, type, row)
                    {
                        return moment(data).format("DD-MM-YYYY");
                    }
                    },
                    { "data": "status", "name": "Project Status", "autoWidth": true, },

                    {
                        "render": function (data, type, full, meta) {

                            return '<a onclick=LoadModal("' + full.projectid + '"); class="btn btn-primary edit"  ><i class="fa fa-pencil-square"></i></a>';

                        }
                    },

                ]
            });



            $('#add').click(function () {
                $('.modal-title').html("Add New Project")
                $.ajax({
                    "type": "GET",
                    "url": "@Url.Action("CreateProject")",
                    "dataType": "html",
                    "data": {},
                    "success": function (data) {
                        $('.modal-body').html(data);
                        $('#myModal').modal('show');
                    },
                    "error": function () {
                        alert("error in loading model");
                    }
                });
            });


        });
    </script>

    }