@{
    Layout = "_MenuLayout";
}

@using HRMS.Entity.Models;
@model IEnumerable<Attandance>

<style>
    .present {
        width: 95%;
        display: flex;
        justify-content: space-between;
        background: rgba(76, 175, 80, 0.3);
        height: 30px;
        border-radius: 10px;
        align-content: center;
        padding: 0px 10px;
    }

    .absent {
        width:95%;
        display:flex;
        justify-content: space-around;
        background: rgba(255, 0, 0, 0.2);
        height: 30px;
        border-radius: 10px;
        align-content: center;
    }
        .weekend {
        width:95%;
        display:flex;
        justify-content: space-around;
        background: rgba(0, 0, 255, 0.2);
        height: 30px;
        border-radius: 10px;
        align-content: center;
    }

    .checkin {
        justify-content: space-between;
    }

    .checkout {
        justify-content: end;
    }
    td{
        padding:5px;
    }
</style>

<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-end">
            @{
                if (ViewBag.temp == null)
                {
                    var date = String.Format("{0:MM/dd/yyyy}", DateTime.Now);
                    <a asp-action="CheckIn" class="btn btn-danger " style="font-size:12px"><b>CheckIn</b><br /><span style="font-size:10px">@date</span></a>
                }
                else if (ViewBag.temp.timeout == null)
                {
                    <a asp-action="CheckOut" class="btn btn-success " style="font-size:12px"><b>CheckOut</b><br /><span style="font-size:10px">CheckIn Time - @ViewBag.temp.timein</span></a>
                }
                else
                {
                    <a href="#" class="btn btn-outline-primary " style="font-size:12px"><b>CheckedOut</b><br /><span style="font-size:10px">@ViewBag.temp.timein - @ViewBag.temp.timeout</span></a>
                }
            }
        </div>
    </div>

</div>



<div class="card mt-lg-5">

    <div class="card-body">
        <table id="MyTable" style="width:100%">
            <tr>
                <td></td>
            </tr>
            <tbody>
                @{  }
                @for (var i = 0; i < 28; i++)
                {
                    var currdate = DateTime.Now;
                    currdate = currdate.AddDays(-i);
                    var date = Convert.ToDateTime(String.Format("{0:MM/dd/yyyy}", currdate));
                    var temp = @Model.Where(x => x.date == date).FirstOrDefault();
                    var day = date.ToString("dddd");
                    var shortday = date.ToString("ddd");
                    
                    if (temp != null)
                    {
                        <tr><td class="col-2">@date.ToString().Split(" ").First() - @shortday</td><td><div class="present"> <div class="checkin">@temp.timein</div> <div class="checkout">@temp.timeout</div> </div> </td></tr>
                    }
                    else
                    {
                        if (day == "Sunday" || day == "Saturday")
                        {
                            <tr><td>@date.ToString().Split(" ").First() - @shortday</td><td><div class="weekend"> Weekend </div> </td></tr>
                        }
                        else
                        {
                            <tr><td>@date.ToString().Split(" ").First() - @shortday</td><td><div class="absent"> Absent </div> </td></tr>
                        }
                    }
                }
            </tbody>
        </table>


    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
@section scripts{
    <script>

    </script>
}
